.pop-up {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
    z-index: 1;
    background-color: var(--cor-fundo-foco);
    background-color: var(--cor-fundo-foco);
    box-shadow: .2rem .2rem 20px black;
    padding: 1.5rem;
    transition: all .2s ease;
}

.back-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 2vh;
    left: 1vw;
    background-color: var(--cor-fundo-foco);
    border-radius: 50%;
    box-shadow: .2rem .2rem 20px black;
    border: 2px solid rgba(0, 0, 0, 0);
}

.back-content {
    font-size: 2rem;
    color: inherit;
}

.back-container:hover {
    border: 2px inset rgb(52, 55, 255);
    cursor: pointer;
    background-color: rgb(194, 194, 194);
}


#info {
    cursor: pointer;
}

#x {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #f40006;
}

.abrePopUp {
    opacity: 1;
    visibility: visible;
    top: 30vh;
}

.textoInfo {
    margin: .8rem;
}

.container-refeicao-atual {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexEnd {
    align-self: center;
}

input[type='radio'] {
    accent-color: var(--cor-fundo-corpo);
}

.conteudo {
    display: grid;
    grid-template-columns: 6% repeat(7, 1fr);
    grid-template-rows: 1fr;
    z-index: 0;
    height: 100vh;
    overflow-y: auto;
    width: 90vw;
    margin: 0 auto;
}

.dia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem repeat(4, 1fr);
    padding: 5px;
    border-right: 2px dashed black;
}

.horas {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.duasLinhas {
    height: 1.2rem;
}

.borda {
    border-bottom: 2px dotted black;
}

.ativo {
    background-color: var(--cor-fundo-corpo);
    border-radius: 3px;
}

.titulo-container {
    grid-area: 1 / 1;
    border-bottom: 2px dotted black;
    max-height: 4rem;
}

#hora {
    grid-area: 1 / 1;
}

#domingo {
    grid-area: 1 / 2;
    border-right: 2px dashed black;
}

#segunda {
    grid-area: 1 / 3;
    border-right: 2px dashed black;
}

#terca {
    grid-area: 1 / 4;
    border-right: 2px dashed black;

}

#quarta {
    grid-area: 1 / 5;
    border-right: 2px dashed black;
}

#quinta {
    grid-area: 1 / 6;
    border-right: 2px dashed black;
}

#sexta {
    grid-area: 1 / 7;
    border-right: 2px dashed black;

}

#sabado {
    grid-area: 1 / 8;
    border-right: none;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.4rem;
}

h2 {
    margin: 1rem;
}

.refeicao.ativo:hover {
    box-shadow: .2rem .2rem 40px black;
    outline: 2px outset var(--cor-borda-focus);
    cursor: pointer;
}

.refeicao {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px dotted black;
}

.jantar {
    border-bottom: none;
}

.comida {
    padding: 0 .3rem;
}