.pop-up {
    position: absolute;
    display: none;
    top: 30vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
    z-index: 1;
    background-color: var(--cor-fundo-foco);
    background-color: var(--cor-fundo-foco);
    box-shadow: .2rem .2rem 20px black;
    padding: 1.5rem;
}

#info {
    cursor: pointer;
}

#x {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #f40006;
}

button>i {
    pointer-events: none;
}

.abrePopUp {
    display: block;
}

input[type='radio'] {
    accent-color: var(--cor-fundo-corpo);
}

.conteudo {
    display: grid;
    grid-template-columns: 6% repeat(7, 1fr);
    grid-template-rows: 1fr;
    z-index: 0;
    height: 100vh;
}

.dia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem repeat(4, 1fr);
    padding: 5px;
    border-right: 2px dashed black;
}

.horas {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.duasLinhas {
    height: 1.2rem;
}

.borda {
    border-bottom: 2px dotted black;
}

.ativo {
    background-color: var(--cor-fundo-corpo);
    border-radius: 3px;
}

.titulo-container {
    grid-area: 1 / 1;
    border-bottom: 2px dotted black;
    max-height: 4rem;
}

#hora {
    grid-area: 1 / 1;
}

#domingo {
    grid-area: 1 / 2;
    border-right: 2px dashed black;
}

#segunda {
    grid-area: 1 / 3;
    border-right: 2px dashed black;
}

#terca {
    grid-area: 1 / 4;
    border-right: 2px dashed black;

}

#quarta {
    grid-area: 1 / 5;
    border-right: 2px dashed black;
}

#quinta {
    grid-area: 1 / 6;
    border-right: 2px dashed black;
}

#sexta {
    grid-area: 1 / 7;
    border-right: 2px dashed black;

}

#sabado {
    grid-area: 1 / 8;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.4rem;
}

h2 {
    margin-bottom: 1rem;
}

.refeicao.ativo:hover {
    box-shadow: .2rem .2rem 40px black;
    outline: 1px solid black;
    cursor: pointer;
}

.refeicao {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px dotted black;
}

.jantar {
    border-bottom: none;
}

.comida {
    padding: 0 .3rem;
}