:root {
    --cor-fundo-corpo: rgb(106, 108, 255);
    --cor-fundo-foco: rgb(240, 248, 255);
    --cor-borda-focus: rgb(52, 55, 255);
}

body {
    font-family: 'Work Sans', sans-serif;
    background-image: url(../assets/civilin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    font-size: 1.2rem;
    overflow: hidden;
}

.conteudo {
    grid-area: 1 / 2 / span 13 / span 11;
    background-color: var(--cor-fundo-foco);
    box-shadow: .2rem .2rem 20px black;
}